.container {
  max-width: 1110px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    width: 708px;
  }
}

@media (max-width : 487px){
  .container{
    width: 343px;
    overflow: hidden;
  }
}
