.footer {
  background-color: $color-gray;
  border-bottom: 1px solid white;
  &.container {
    display: flex;
    justify-content: space-between;
    padding-top: 84px;

    .footer-content {
      flex: 1;

      h3 {
        margin-bottom: 36px;
      }

      p {
        width: 445px;
      }
    }

    .form {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 32px;

      input {
        background-color: transparent;
        border-bottom: 1px solid hsla(0, 0%, 100%, 1);
        width: calc(100% - 24px);
        height: 43px;
        padding-left: 24px;
        color: $color-white;
        font-family: Space Grotesk;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: -0.222px;
        font-weight: 500;
      }

      textarea {
        background-color: transparent;
        width: calc(100% - 24px);
        height: 107px;
        border-bottom: 1px solid hsla(0, 0%, 100%, 1);
        resize: none;
        padding-left: 24px;
        color: $color-white;
        font-family: Space Grotesk;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: -0.222px;
        font-weight: 500;
      }
    }
    .contact {
      background-color: transparent;
      width: 142px;
      align-self: flex-end;
      margin-bottom: 92px;
    }
  }

  .navigation {
    margin-bottom: 60px;
  }
}

@media (max-width: 768px) {
  .footer {
    border-bottom: 1px solid white;

    &.container {
      width: 445px;
      text-align: center;
      gap: 48px;
      flex-direction: column;
      border-bottom: 1px solid white;
      .footer-content {
        h3 {
          margin-bottom: 20px;
        }
      }
    }
  }
}

@media (max-width: 478px) {
  .footer {
    &.container {
      width: 375px;
      padding-top: 60px;
      flex-direction: column;
      .footer-content {
        h3 {
          font-size: 40px;
          text-align: center;
          width: 343px;
        }

        p {
          width: 343px;
        }
      }
      .form {
        padding: 0 16px;
        input {
          width: calc(100% - 24px);
        }
      }
    }
  }
}
