.header{
    background-image: url(./assets/image-profile-desktop.webp);
    background-position: right;
    background-size: 445px;
    background-repeat: no-repeat;
    height: 720px;


    

    .content{
        margin-top: 127px;

        h1{
            width: 710px;
                span{
                    border-bottom: 6px solid $color-green;
                }
        }

        p{
            width: 445px;
            margin-top: 43px;
            margin-bottom: 66px;
        }

    }
}